{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="{% static 'img/hero/about.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Applications</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-12 col-lg-12">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img class="rounded" src="{{ profile.profile_image.url }}" alt=""
                                        style="height: 100px; width:auto;"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{ profile.user.username }}</h4>
                                </a>
                                <ul>
                                    <li>Company: {{ profile.company_set.count }}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{ profile.address }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                </div>
            </div>
            <!-- Right Content -->
            {% for company in companies %}
            <div class="col-xl-12 col-lg-12">
                <div class="post-details3  mb-50">
                        <div class="col col-md-12">
                            <div class="post-details4  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Company Information</h4>
                                </div>
                                <ul>
                                    <li>Name: <span>{{ company.company_name }} </span></li>
                                    <li>Web : <span> {{ company.web }}</span></li>
                                    <li>Email: <span>{{ company.email }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Small Section Tittle -->
                        <hr>
                        <div class="row">
                            <div class="col col-md-12 pt-5">
                                <div class="small-section-tittle">
                                    <h4>Job Overview</h4>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Job Name</th>
                                            <th scope="col">Posted date</th>
                                            <th scope="col">Location</th>
                                            <th scope="col">Vacancy</th>
                                            <th scope="col">Time Left</th>
                                            <th scope="col">No of applicant</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job in company.jobs.all %}
                                        <tr>
                                            <td>{{ job.job_name }}</td>
                                            <td>{{ job.posted_date|date:'d M Y'}}</td>
                                            <td>{{ job.location }}</td>
                                            <td>{{ job.vacancy }}</td>
                                            <td>{{ job.posted_date|timesince:job.last_date }}</td>
                                            <td>{{ job.applications.count }}</td>
                                            <td><a href="{% url 'job:application-detail' job.slug %}" class="genric-btn danger-border circle">See more</a></td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="7" class="text-center">None</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <ul>
                                </ul>
                                <div class="apply-btn2">
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    <!-- job post company End -->
    
</main>
{% endblock content %}