{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center"
            data-background="{% static 'img/hero/about.jpg'%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Applications</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-12 col-lg-12">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img class="rounded" src="{{ profile.profile_image.url }}" alt=""
                                        style="height: 100px; width:auto;"></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>{{ profile.user.username }}</h4>
                                </a>
                                <ul>
                                    <li>Company: {{ profile.company_set.count }}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{ profile.address }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                </div>
            </div>
            <!-- Right Content -->
            {% for company in companies %}
                <div class="col-xl-12 col-lg-12">
                    <div class="post-details3  mb-50">
                        <div class="col col-md-12">
                            <div class="post-details4  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Company Information</h4>
                                </div>
                                <ul>
                                    <li>Name: <span>{{ company.company_name }} </span></li>
                                    <li>Web : <span> {{ company.web }}</span></li>
                                    <li>Email: <span>{{ company.email }}</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Small Section Tittle -->
                        <hr>
                        <div class="row">
                        {% for job in company.jobs.all %}
                            <div class="col col-md-4 pt-5">
                                <div class="small-section-tittle">
                                    <h4>Job Overview</h4>
                                </div>
                                <ul>
                                    <li>Posted date : <span>{{ job.posted_date|date:'d M Y'}}</span></li>
                                    <li>Location : <span>{{ job.location }}</span></li>
                                    <li>Vacancy : <span>{{ job.vacancy }}</span></li>
                                    <li>Job nature : <span>{{ job.job_time }}</span></li>
                                    <li>Salary :  <span>${{ job.min_salary }} - {{ job.max_salary }} {{ job.salary_type|title }}</span></li>
                                    <li>Last date : <span>{{ job.last_date|date:'d M Y'}}</span></li>
                                    <li>Time Left : <span>{{ job.posted_date|timesince:job.last_date }}</span></li>
                                </ul>
                                <div class="apply-btn2">
                                    <a href="#" class="btn">Apply Now</a>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col col-md-12 text-center">
                                <p class="text-secondary">None</p>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- job post company End -->

</main>
{% endblock content %}